/*//.header{*/
/*//    height: 100px;*/
/*//    background: $primary;*/
/*//    z-index: 10;*/
/*//*/
/*//    font-family: $headline-font;*/
/*//*/
/*//    @include medium{*/
/*//        position: relative;*/
/*//    }*/
/*//}*/
/*//*/
/*//*/
/*//.sticky + .content {*/
/*//    padding-top: 100px;*/
/*//  }*/
/*//*/
/*//.sticky {*/
/*//    position: fixed;*/
/*//    top: 0;*/
/*//    width: 100%*/
/*//  }*/
/*//*/
/*//*/
/*//.container--header{*/
/*//    width: 100%;*/
/*//    height: 100%;*/
/*//    padding: 0 100px;*/
/*//    margin: 0px;*/
/*//*/
/*//    display: flex;*/
/*//    justify-content: space-between;*/
/*//    align-items: center;*/
/*//*/
/*//    @include medium{*/
/*//        padding: 0 75px;*/
/*//    }*/
/*//*/
/*//    @include small{*/
/*//        padding: 0 50px;*/
/*//    }*/
/*//}*/
/*//*/
/*//.header__img{*/
/*//    max-width: 90px;*/
/*//    max-height: 70px;*/
/*//}*/
/*//*/
/*//.nav{*/
/*//    width: 50%;*/
/*//*/
/*//    @media screen and (max-width: 1100px) {*/
/*//        width: 75%;*/
/*//      }*/
/*//}*/
/*//*/
/*//.header__nav{*/
/*//    @include medium{*/
/*//       display: flex;*/
/*//       justify-content: flex-end;*/
/*//*/
/*//    }*/
/*//}*/
/*//*/
/*//.nav__list{*/
/*//    padding: 0;*/
/*//    margin: 0;*/
/*//*/
/*//    display: flex;*/
/*//    justify-content: space-between;*/
/*//*/
/*//    @include medium{*/
/*//        position: absolute;*/
/*//        top: 0;*/
/*//        left: 0;*/
/*//        width: 100vw;*/
/*//        height: 100vh;*/
/*//        padding: 100px 50px;*/
/*//*/
/*//        align-items: center;*/
/*//*/
/*//        @include medium{*/
/*//            @include font-size(32);*/
/*//        }*/
/*//*/
/*//        &.active{*/
/*//            height: 100vh;*/
/*//            background: rgba($color: $primary, $alpha: .9);*/
/*//            color: $primary-text;*/
/*//            text-transform: uppercase;*/
/*//*/
/*//            flex-direction: column;*/
/*//        }*/
/*//*/
/*//        &.disactive{*/
/*//            display: none;*/
/*//        }*/
/*//    }*/
/*//*/
/*//}*/
/*//*/
/*//.nav__item{*/
/*//    display: inline-block;*/
/*//}*/
/*//*/
/*//.nav__link{*/
/*//    color: $secondary-text;*/
/*//    text-decoration: none;*/
/*//*/
/*//    position: relative;*/
/*//*/
/*//    @include medium{*/
/*//        &:active, &:hover{*/
/*//            color: rgba($color: $secondary-text, $alpha: .8)*/
/*//        }*/
/*//    }*/
/*//*/
/*//  &::before{*/
/*//        content: '';*/
/*//        width: 0px;*/
/*//        height: 2px;*/
/*//        background: $secondary-text;*/
/*//        position: absolute;*/
/*//        bottom: -10px;*/
/*//        left: 50%;*/
/*//        transform: translateX(-50%);*/
/*//*/
/*//        @include medium{*/
/*//            display: none;*/
/*//        }*/
/*//*/
/*//    }*/
/*//*/
/*//    &::after{*/
/*//        content: '';*/
/*//        width: 0px;*/
/*//        height: 2px;*/
/*//        background: $secondary-text;*/
/*//        position: absolute;*/
/*//        bottom: -10px;*/
/*//        right: 50%;*/
/*//        transform: translateX(50%);*/
/*//*/
/*//        @include medium{*/
/*//            display: none;*/
/*//        }*/
/*//    }*/
/*//*/
/*//    &:hover::after{*/
/*//        width: 100%;*/
/*//        transition: width .5s ease-in-out;*/
/*//    }*/
/*//*/
/*//    &:hover::before{*/
/*//        width: 100%;*/
/*//        transition: width .5s ease-in-out;*/
/*//    }*/
/*//*/
/*//    &:active{*/
/*//        color: rgba($color: #fff, $alpha: .8);*/
/*//    }*/
/*//*/
/*//    &:active::after, &:active::before{*/
/*//        background: rgba($color: #fff, $alpha: .8);*/
/*//    }*/
/*//}*/
/*//*/
/*//.nav__btn{*/
/*//    background: transparent;*/
/*//    border: none;*/
/*//    color: #fff;*/
/*//    margin: 0;*/
/*//    padding: 0;*/
/*//*/
/*//    display: none;*/
/*//*/
/*//    @include medium{*/
/*//        display: none;*/
/*//*/
/*//        position: relative;*/
/*//        z-index: 11;*/
/*//*/
/*//        &.active{*/
/*//            display: inline-block;*/
/*//        }*/
/*//    }*/
/*//}*/
/*//*/
/*//.nav__menu-bar{*/
/*//    @include font-size(42);*/


.header {
    height: 100px;
    z-index: 10;
}

.sticky + .content {
  padding-top: 100px;
 }

.sticky {
 position: fixed;
    top: 0;
    width: 100%
  }


.header__img{
    max-width: 90px;
    max-height: 70px;
}


.nav__link{
   text-decoration: none;

   position: relative;

/*   @include medium{*/
/*       &:active, &:hover{*/
/*            color: rgba($color: $secondary-text, $alpha: .8)*/
/*/       }*/
    }



* {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }

        body {
            font-family: 'Josefin Sans', sans-serif;
        }

        .navbar {
            margin-top: 15px;
            vertical-align: middle;
            font-size: 18px;
            /*background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);*/
            background-color: #22356D;

            padding-bottom: 10px;
        }

        .main-nav {
            list-style-type: none;
            display: none;
        }

        .nav-link,
        .logo {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.7);
        }

        .main-nav li {
            text-align: center;
            margin: 15px auto;
        }

        .logo {
            display: inline-block;
            font-size: 22px;
            margin-top: 10px;
            margin-left: 20px;
        }

        .navbar-toggle {
            position: absolute;
            top: 10px;
            right: 20px;
            cursor: pointer;
            color: rgba(255, 255, 255, 0.8);
            font-size: 48px;
        }

        .active {
            display: block;
            font-size: 36px;
            height: 100vh;
        }

        @media screen and (min-width: 768px) {
            .navbar {
                display: flex;
                justify-content: space-between;
                padding-bottom: 0;
                height: 70px;
                align-items: center;
            }

            .main-nav {
                display: flex;
                margin-right: 30px;
                flex-direction: row;
                justify-content: flex-end;
            }

            .main-nav li {
                margin: 0;
            }

            .nav-link {
                vertical-align: middle;
                margin-left: 40px;

            }

            .logo {
                margin-top: 0;
            }

            .navbar-toggle {
                display: none;
            }


        }