{% extends 'skSite/base.html' %}
{% load static %}

{% block title %}
    All News
{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'skSite/scss/all_news.css' %}">

    <section class="all_news">
        <div class="container-all-news">
            <h1 class="news_header">Новини</h1>
            <div id="news_list">
                {% for new in news %}
                    <article id="n{{ forloop.counter }}" class="news_article">

                        <div class = "news_info_all" style="margin-bottom: 10px">
                            <header style="margin-top: 5px;">
                                <time class="news_time">
                                    <a id="h1" class="card_link">{{ new.date_posted }}</a>
                                </time>
                                <h2 style="margin-bottom: 0.5em">
                                    <a id="h1" class="card_link"  href="{% url 'post-detail' new.id %}">{{ new.post_head }}</a>
                                </h2>
                            </header>
                            <img class = "news_image_all" style = "max-width: 100%;margin-right: 10px;
  margin-bottom: 10px; max-width: 130px; height: auto; margin-left: auto; margin-right: 10px; display: block;" src="{{ new.image.url }}" align='left'>

                                {{ new.post_text }}
                                    <br>
                            <small> {{ new.author }}</small>
                     </div>
                    </article>
                {% endfor %}
            </div>

            <!--<button type="button" id="load_more_button-all-news">Показати ще</button>-->

        </div>

    </section>
{% endblock content %}

{% block script %}
    <script src="{% static 'skSite/js/all_news.js' %}"></script>
{% endblock %}