<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="authors" content="Head of developers: Maksym Kolesnyk - primat 2. Assisted: Kateryna Yatskiv - ipeze 2, Kyrylo Turina - ipeze 2, Katerina Gorulya - ipeze 2. 01 09 2019">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'skSite/scss/base.css' %}">
</head>
<body>
    {% include 'skSite/header.html' %}
    <div class="content">
        {% block content %}{% endblock %}
    </div>

    {% include 'skSite/footer.html' %}

    {% block script %}
        <script src="{% static 'skSite/js/index.js' %}"></script>
        <script src = "https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
    {% endblock %}
</body>
</html>