{% load static %}
<section class = "grid-docs-orgs">

    <div class = "container_for_docsAndOrgs">

        <div class = "new_boxes">
            <div class = "box_container">
              <a href = "{% url 'orgs' %}">
                  <div  class="box_image1"></div>
                  <div class = "box_content">
                      <p class="details">
                          Інформація про могилянські ОСС, СО та СІГ
                      </p>
                  </div>
              </a>
            </div>
            <div class = "box_container">
                <a href = "{% url 'docs' %}">
                    <div class = "box_image2"></div>


                <div class = "box_content">
                    <p class="details">
                        Документи та протоколи засідань
                    </p>
                </div>
                            </a>
            </div>
        </div>
    </div>
</section>