{% load static %}
<section class="FaqMain">
    <div class="container container--Faq">
        <link rel="stylesheet" type="text/css" href="{% static 'skSite/scss/faq.css' %}">
        <style>
            @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
            @import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
        </style>

        <div class="rowFaq">
            <div class="textFaq">
                <h1> У тебе є питання? </h1>
                <p> Ми підготували відповіді на найпопулярніші запити студентів.</p>
            </div>
            <div class="buttonFaq">
                <a href = "{% url 'faq-info' %}" class="textButton"> Переглянути FAQ </a>
            </div>
        </div>
    </div>
</section>