{% extends 'skSite/base.html' %}
{% load static %}

{% block content %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'skSite/js/faq_info.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'skSite/scss/faq_info.css' %}">

    <div class = "infoFaqBody">

        <div class = "navbr-faq-info" style="border-bottom: 2px solid #22356D">
          <div class="navvv-inside">
            <a href="#Що таке СК" class="link-f">Що таке СК</a>
            <a href="#Що робить СК" class="link-f">Що робить СК</a>
            <a href="#Студентські проекти" class="link-f">Студентські проекти</a>
            <a href="#Бронювання аудиторій" class="link-f">Бронювання аудиторій</a>
            <a href="#Діяльність СО" class="link-f">Діяльність СО</a>
            <a href="#Фінансування" class="link-f">Фінансування</a>
            <a href="#Стипендії" class="link-f">Стипендії</a>
            <a href="#Захист прав" class="link-f">Захист прав</a>
            <a href="#Міжуніверситетьский зв`язок" class="link-f">Міжуніверситетьский зв`язок</a>
            <a href="#SOS" class="link-f"><p style="margin-bottom: 20px">HELP</p></a>
          </div>

        </div>



        <div class="page-faq-info">


          <button onclick="topFunction()" id="myBtn" title="Go to top">⇧</button>

          <div class="main-section-faq-info">
              <span class = "anchor" id='Що таке СК'></span>
            <div class ="h-faq-info">
                <p style="text-align: center; margin-top:20px">Що таке СК?</p>
            </div>
            <p>Студентська колегія НаУКМА (далі – СК) є виборним виконавчим органом студентського самоврядування НаУКМА.</p><br>
            <p>До складу СК входять 6 членів, яких обирають студенти НаУКМА строком на 1 рік шляхом прямого таємного голосування в порядку, встановленому цим Положенням. </p><br>
            <p>Дізнатися більше деталей можна ознаймивишись із положенням про студентські самоврядування</p><br>
            <code style="border-bottom: 2px solid #22356D">
                <a href = "{% static 'skSite/pdf/Положення_про_студентське_самоврядування.pdf' %}" type = "application/pdf" target="_blank"> Положення_про_студентське_самоврядування.pdf </a>
            </code>
          </div>

          <div class="main-section-faq-info">
            <div class ="h-faq-info">
                <span class = "anchor" id='Що робить СК'></span>
                Що робить СК?
            </div>
            <p>СК має три основні напрями роботи: <br>
              <br>
                  1. Представництво інтересів студентів у адміністрації. <br>
                  <br>
                  2. Допомога у реалізації ініціатив та захист прав студентів
                  <br><br>
                  3. Координація діяльності СО (студентських організацій) та СІГ (студентських ініціативних груп)
                  <br>

                   </p>
              <br>
              <ul>
            <li>  1. Представництво інтересів студентів та захист їх прав.
              Могилянка - це той університет, де студенти мають свій голос майже у кожному адміністративному органі. Тож члени СК частенько беруть участь у різноманітних комісіях, відборах та засіданнях.
              <br><br> Наприклад, представник СК є одним з членів комісії відбору студентів на мобільність програми ERASMUS та ERASMUS+. Це є запорукою того, що відбір буде проводитися максимально легітимно і з урахуванням думки самих студентів.
              <br><br> Також на усіх зустрічах з адміністрацією члени СК можуть висловити ідеї студентства щодо обговорюваних питань, закцентувати увагу на певних проблемах тощо.
              Окрім цього, CК разом з іншими органами студентського самоврядування стає на захист прав студентів у випадку їх порушення.
                </li>
                <br><br>
            <li> 2. Допомога у реалізації студентських ініціатив
              Могилянці часто реалізовують власні ідеї та проекти, просувають ініціативи - і СК завжди готове допомогти в цьому.
             Можемо дати пораду чи поділитися контактами, допомогти у співпраці з адміністрацією, запропонувати податися на фінансування тощо. Звертайтеся! <br>
               <br><br>
                 </li>
                 <li>
                  3. Координація діяльності СО (студентських організацій) та СІГ (студентських ініціативних груп)
                  У Могилянці дуже багато СО та СІГ (понад 40 активних організацій).
                  Координація і впорядкування їхньої діяльності є необхідними, для того щоб усі були рівними у правах і мали можливості для реалізації своїх ідей.
                  <br><br>СК веде реєстр усіх активних СО та СІГ у Могилянці.
                 Якщо студенти хочуть створити нову СІГ, вони мають подати офіційну заяву до СК. Процес і умови подання, необхідні документи ви можете знайти у розділі Діяльність СО.
                  Таким чином СК бачить увесь вир студентського життя в нашому університеті і відповідно планує бюджет студентського самоврядування, який надалі ухвалює Конференція студентів.
                  <br><br> Як податися на фінансування з бюджету - дивіться у розділах «Студентські проекти» та «Фінансування».
                 </li>

              </ul>
              <br>
              Звісно, вищеназвані речі не є вичерпним переліком усього, чим займається СК. Ми також комунікуємо з університетами Києва та інших міст, відвідуємо загальноукраїнські зібрання Української асоціації студентів і загалом піклуємося про те, щоб навчання в Могилянці було комфортним та справедливим.
                <br><br>
                Для того щоб більше дізнатися про нашу діяльність, ви можете слідкувати за звітами, які ми будемо публікувати на каналі в Телеграмі та на цьому сайті, а також відвідувати засідання Конференції студентів, на якій члени СК звітуються перед студентами.
                <p style="border-bottom: 2px solid #22356D; margin-top:20px;"></p>
          </div>


          <div class="main-section-faq-info">
              <span class = "anchor" id='Студентські проекти'></span>
            <div class ="h-faq-info">
                Студентські проекти
            </div>
            <p>Конкурс студентських проектів
                Щороку в осінньому триместрі відбувається конкурс студентських проектів.<br>
                <br> До 5 жовтня СК утворює конкурсну комісію, оприлюднює правила конкурсу, оголошує початок прийому заявок.<br>
                <br> Взяти участь можуть лише зареєстровані СО та СІГ - вони до кінця жовтня подають заявку та кошторис проекту.<br> Переможці конкурсу отримають фінансування, визначене конкурсною комісією, у наступному календарному році.</p><br>
              <code style="border-bottom: 2px solid #22356D">
              <a href = "{% static 'skSite/pdf/Положення_про_конкурс_студентських.pdf' %}" type = "application/pdf" target="_blank"> Положення_про_конкурс_студентських.pdf </a>
              <a href = "{% static 'skSite/pdf/Заява_на_участь_у_конкурсі_СтудПроектів.pdf' %}" type = "application/pdf" target="_blank"> Заява_на_участь_у_конкурсі_СтудПроектів.pdf </a>
            </code>
          </div>

          <div class="main-section-faq-info">
              <span class = "anchor" id='Бронювання аудиторій'></span>
            <div class ="h-faq-info">
                Бронювання аудиторій
            </div>
            <p>Якщо ви хочете провести захід в одній із аудиторій Могилянки, її треба завчасно забронювати.
              <br> Порядок дій у цій ситуації такий:
              <ul>
                <br>
                <li>1. Заповнити подання на аудиторію. </li>
                <br><li>2. Треба звернутися до людини, що відповідає за цю аудиторію (це може бути деканат одного з факультетів, пані Владислава Осьмак тощо). Наприклад, 4-100 - деканат ФСНСТ, 4-101 - деканат ФПвН, ПідWall - пані Владислава і тд. Розповідаєте про захід, питаєте, чи вільна аудиторія у потрібний вам день.</li>
                <br><li>3. Якщо подія починається до 18.00, необхідно також зайти у навчально-методичний відділ (1-214) і уточнити в них, чи не зайнята аудиторія. </li>
                <br><li>4. Далі необхідно звернутися до пані Діани Проценко (4-102), щоб вона погодила подію і поставила підпис на поданні.</li>
                <br><li>5. Потім треба отримати підпис від куратора події (викладача, декана тощо).</li>
                <br><li>6. Після цього подання треба віднести на підпис Віце-президенту з економіки та фінансів - Дяченко Людмилі Іванівні (1-210).</li>
                <br><li>7. Згодом підписане подання треба забрати і в день заходу занести на охорону.</li>

              </ul>
              </p>
                <code style="border-bottom: 2px solid #22356D">
                <a href = "{% static 'skSite/pdf/Подання_на_аудиторію.pdf' %}" type = "application/pdf" target="_blank"> Подання_на_аудиторію.pdf </a>
              </code>
          </div>

          <div class="main-section-faq-info">
              <span class = "anchor" id='Діяльність СО'></span>
            <div class ="h-faq-info">
                <span class = "anchor" id=''></span>
                Діяльність СО
            </div>

            <ul>
                <li>1. Що таке студентська організація (СО)?
            СО – це добровільне об’єднання студентів НаУКМА для здійснення та захисту своїх прав і свобод, задоволення суспільних, зокрема економічних, соціальних, культурних, екологічних, творчих, спортивних та інших інтересів.</li>
            <br><li>2. Що таке студентська ініціативна група (СІГ)?
            СІГ – це добровільне строкове об’єднання студентів НаУКМА, утворене для втілення в життя певної ініціативи, що стосується удосконалення освітнього процесу, науково-дослідної роботи в НаУКМА, організації дозвілля, соціально-громадської активності студентів, інших питань студентського життя.</li>
            <br><li>3. Яка різниця між СО та СІГ?
            Головна різниця полягає в тому, що СІГ – це строкове обєднання. Як правило, після втілення певної ініціативи у життя, СІГ розформовується. Наразі Студентська Колегія НаУКМА реєструє усі об’єднання студентів як СІГ, а після піврічного терміну існування перереєстровує у СО (за умови, що об’єднання проявило себе максимально і склало плани майбутньої діяльності).</li>
            <br><li>4. Як потрапити до СО?
            Переважна більшість студентських організацій проводить набір на початку навчального року (орієнтовно – середина вересня). Це можуть бути тестові завдання, співбесіди, міні-проекти тощо. Тож активно слідкуйте за соц. мережами омріяної СО!
            Участь у діяльності об’єднань студентів є вільним. Ніхто не може бути примушений до участі чи неучасті у діяльності об’єднання студентів.</li>
            <br><li> 5. Як створити об’єднання студентів?
                 <ul>
            <br><li>Рішення про утворення об’єднання студентів ухвалюється на установчих зборах його засновників та фіксується у протоколі таких зборів.</li>
            <br>У протоколі установчих зборів об’єднання студентів зазначається:<br>
            <br><li>1) дата та місце проведення установчих зборів;</li>
            <br><li>2) відомості про осіб, які брали участь в установчих зборах;</li>
            <br><li>3) рішення про утворення об’єднання студентів із зазначенням цілей
            (мети) його діяльності;</li>
            <br><br><li>4) рішення про визначення повного та, за наявності, скороченого
            найменування об’єднання студентів;
            <br><br><li>5) рішення про обрання керівника, керівних органів об’єднання.
            Протокол установчих зборів підписується головою та секретарем зборів.</li>
            </ul>
            </li>

            <br><li>    6. Як відбувається процедура реєстрації об’єднання та які документи для цього потрібні?
            Для реєстрації об’єднання студентів його керівник або уповноважена особа упродовж 30 днів з дня проведення установчих зборів подає до СК заявку за відповідною формою, три примірники протоколу установчих зборів, а за бажанням – також три примірники статуту (у разі його затвердження). Для реєстрації об’єднання, яке проводить свою діяльність як громадська організація, такі документи подаються упродовж 30 днів з дня її реєстрації як громадської організації.
            <br><br>СК упродовж десяти днів з дня отримання документів розглядає їх та вносить інформацію про об’єднання студентів до Реєстру об’єднань студентів НаУКМА і видає свідоцтво про реєстрацію об’єднання Студентів або ухвалює рішення про відмову в реєстрації об’єднання студентів.
            Внесення інформації про об’єднання студентів до Реєстру здійснюється
            на підставі резолюції голови СК або його заступника на заявці про реєстрацію об’єднання.
            Рішення про відмову у реєстрації об’єднання студентів ухвалюється на засіданні СК у встановленому порядку.</li>
            <br><li>7. Де можна ознайомитися з переліком усіх СО та СІГ?
            Реєстр усіх студентських об’єднань зберігається у СК: у друкованому та електронному виглядах. Відомості Реєстру є відкритими та підлягають оприлюдненню на офіційному веб-сайті НаУКМА.</li>
            <br><li>8. Коли обирають координатора студентського об’єднання?
            Переважна більшість об’єднань проводять процедуру переобрання координатора наприкінці або на початку навчального року. Ця процедура є індивідуальною стосовно кожної з організацій.</li>
            <br><li>9. Як поскаржитися на діяльність студентського об’єднання?
            Поскаржитися на діяльність студентського об’єднання можна написавши відповідну заяву у СК, зазначивши ґрунтовну причину.</li>
            <br><li>10.  Де мають бути залучені об’єднання студентів?
            Студентські об’єднання, як правило, представлені під час масових заходах у НаУКМА ( Приймальна комісія, День відкритих дверей, День Академії, Фрешфест тощо) на алеї студентських організацій та ініціативних груп. Об’єднання беруть активну участь у житті спільноти, роблячи внески у розбудову НаУКМА та пропагуючи могилянські цінності.</li>
          </ul>
          <br>
            <code style="border-bottom: 2px solid #22356D;">
                <a href = "{% static 'skSite/pdf/Реєстрація_СО_СІГ_Додаток1_Заява.pdf' %}" type = "application/pdf" target="_blank"> Реєстрація_СО_СІГ_Додаток1_Заява.pdf </a><br>
                <a href = "{% static 'skSite/pdf/Реєстрація_СО_СІГ_Додаток2_Свідоцтво.pdf' %}" type = "application/pdf" target="_blank"> Реєстрація_СО_СІГ_Додаток2_Свідоцтво.pdf </a><br>
            </code>
          </div>


          <div class="main-section-faq-info">
              <span class = "anchor" id='Фінансування'></span>
              <div class ="h-faq-info">
                  Фінансування
              </div>
              <p>Студентське самоврядування має окремий бюджет, тож ви завжди можете звернутися до Студентської колегії із заявкою на фінансування вашого проекту.<br><br>
                 Аби спростити процес подачі на фінансування, ми розробили покрокову інструкцію, а всі необхідні документи разом із самою інструкцією ви знайдете нижче.</p><br>
              <code style="border-bottom: 2px solid #22356D;">
                  <a href = "{% static 'skSite/pdf/Порядок_отримання_фінансування.pdf' %}" type = "application/pdf" target="_blank"> Порядок_отримання_фінансування.pdf </a><br>
                  <a href = "{% static 'skSite/pdf/Додаток_1_(повна заявка).pdf' %}" type = "application/pdf" target="_blank"> Дадаток_1_(повна заявка).pdf </a><br>
                  <a href = "{% static 'skSite/pdf/Додаток_2_(спрощена заявка).pdf' %}" type = "application/pdf" target="_blank"> Дадаток_2_(спрощена заявка).pdf </a><br>
                  <a href = "{% static 'skSite/pdf/Додаток_3_(кошторис).pdf' %}" type = "application/pdf" target="_blank"> Додаток_3_(кошторис).pdf </a><br>
                  <a href = "{% static 'skSite/pdf/КС_порядок_виділення_фінансування.pdf' %}" type = "application/pdf" target="_blank"> КС_порядок_виділення_фінансування.pdf </a><br>
              </code>
          </div>


          <div class="main-section-faq-info">
              <span class = "anchor" id='Стипендії'></span>
                <div class ="h-faq-info">
                    Стипендії:
                </div>

                <div class ="h-faq-info">
                          Бакалаврат
                </div>
                      <ul>
                      <strong>Академічні</strong>
                      <br>
                      <br><li>  ‌Виплата академічної стипендії 2019 в Україні проводиться з урахуванням студентів, що мають різне громадянство. Основним критерієм є висока успішність і популярні позиції в списку учнів ВНЗ, до уваги беруться дані по кожному предмету.</li>
                      <br>Академічну стипендію отримують 45% студентів-бюджетників відповідно до рейтингових списків.</li>
                      <br>
                      <br><li>  1. Підвищенна стипендія. Згідно з встановленими нормативами Постанови КМУ № 882 на підвищену стипендію претендує близько 5% учнів, які показали високі результати здачі сесії. (91+)</li>

                      <br><li>  ‌2. Президентська стипендія. Підвищена стипендія в Україні згідно з Указом Президента уготована призерам конкурсів та олімпіад всеукраїнського масштабу.</li>
                      <br>
                      <strong>Іменні</strong>
                      <br>
                      <br><li>  ‌1. 2 стипендії ім. Мирослава Осадчука для студентів спеціальності 051 Економіка, 072 Фінанси, банківська справа та страхування, 052 Політологія; (до 50% від вартості кожного року навчання, але разом за всі роки не більше $2 000 (за курсом доларів США) на день сплати.) КОНТРАКТ</li>
                      <br><li>  ‌2. 2 стипендії ім. Мирослава Осадчука для студентів будь-якої спеціальності, окрім зазначених вище; (до 50% від вартості кожного року навчання, але разом за всі роки не більше $2 000 (за курсом доларів США) на день сплати.) КОНТРАКТ</li>
                      <br><li>  ‌3. стипендія Асоціації випускників НаУКМА для студента(-ки) будь-якої спеціальності. (не більше 20000 грн.) КОНТРАКТ</li>
                      <br><li>  4. 10 стипендій та оплата річного проживання у гуртожитках НаУКМА від Благодійної Організації «Благодійний Фонд «Повір у себе»» БЮДЖЕТ</li>
                      <br>
                      <strong>Соціальна стипендія</strong>
                      <br>
                      <br><li>  ‌Соціальні стипендії набувають студенти певних розрядів. Навіть за умови, що ці учні зможуть досягти верхнього рівня в загальному рейтингу і нагороджуватися академічною стипендією, соціальні нарахування будуть проводитися без обмежень. У нашій країні соціальна стипендія виплачується таким студентам-очникам, як:
                        <ul>
                            <br>
                       <li>- сироти, батьки яких не мають батьківських прав;</li><br>
                       <li>- переселенці з міст і сіл, що потрапляють в зону АТО;</li><br>
                       <li>- учні, батьки яких в антитерористичних операціях загинули або пропали безвісти;</li><br>
                       <li>- інваліди 1-3 групи;</li><br>
                       <li>- діти, вихованці з багатодітних сімей, з малим доходом;</li><br>
                       <li>- діти, батьки і матері яких трудяться в шахтах і є учасниками бойових операцій при наявності підтверджувальних документів.</li>
                        </ul>
                      </li>
                      </ul>

                      <div class ="h-faq-info">
                          Магістеріум
                      </div>
                      <ul>
                      <strong>Академічні</strong>
                      <br>
                      <br><li>  Виплата академічної стипендії 2019 в Україні проводиться з урахуванням студентів, що мають різне громадянство. Основним критерієм є висока успішність і популярні позиції в списку учнів ВНЗ, до уваги беруться дані по кожному предмету.</li>
                      Академічну стипендію отримують 45% студентів-бюджетників відповідно до рейтингових списків.
                      <br>
                      <br><li> 1. Підвищенна стипендія. Згідно з встановленими нормативами Постанови КМУ № 882 на підвищену стипендію претендує близько 5% учнів, які показали високі результати здачі сесії. (91+)</li>

                      <br><li> 2. Президентська стипендія. Підвищена стипендія в Україні згідно з Указом Президента уготована призерам конкурсів та олімпіад всеукраїнського масштабу. </li>
                      <br>
                      <li><strong>Іменні</strong></li>

                      <br><li>  1. Стипендійна програма ім. Богдана Радченка для учасників АТО/ООС  (За результатами конкурсу будуть обрані 4 кандидатів, яким буде надано одноразову фінансову допомогу у розмірі вартості навчання на магістерській програмі НаУКМА за договором (контрактом). Додатково буде прийматися рішення про надання щомісячної стипендії) КОНТРАКТ</li>

                      <br><li> 2. Стипендійна програма асоціації єврейських організацій та общин України (Ваад України) для магістерської програми «Юдаїка» (Ґрант повністю покриває вартість навчання й оплату за гуртожиток, а також включає щомісячну стипендію (для магістрантів, які показують високі академічні результати та відвідують академічні заходи, що проводяться на програмі).)</li>
                      <br>

                      <strong>Соціальна стипендія</strong>
                      <br>
                      <br><li>
                        Соціальні стипендії набувають студенти певних розрядів. Навіть за умови, що ці учні зможуть досягти верхнього рівня в загальному рейтингу і нагороджуватися академічною стипендією, соціальні нарахування будуть проводитися без обмежень. У нашій країні соціальна стипендія виплачується таким студентам-очникам, як:
                      <ul>
                          <br>
                       <li>- сироти, батьки яких не мають батьківських прав;</li><br>
                       <li>- переселенці з міст і сіл, що потрапляють в зону АТО;</li><br>
                       <li>- учні, батьки яких в антитерористичних операціях загинули або пропали безвісти;</li><br>
                       <li>- інваліди 1-3 групи;</li><br>
                       <li>- діти, вихованці з багатодітних сімей, з малим доходом;</li><br>
                       <li>- діти, батьки і матері яких трудяться в шахтах і є учасниками бойових операцій при наявності підтверджувальних документів.</li>
                      </ul>
                      </li>
                      </ul>
                      <p style="border-bottom: 2px solid #22356D; margin-top:20px;"></p>
          </div>

          <div class="main-section-faq-info">
              <span class = "anchor" id='Захист прав'></span>
                    <div class ="h-faq-info">
                        Захист прав
                    </div>
                    <p>Якщо у тебе виникають проблеми в університеті які не може вирішити адміністрація - сміливо звертайся до нас і ми надамо тобі повну підтримку і захистимо твої права.</p>
                    <p style="border-bottom: 2px solid #22356D; margin-top:20px;"></p>
                  </div>


          <div class="main-section-faq-info">
              <span class = "anchor" id='Міжуніверситетьский зв`язок'></span>
                      <div class ="h-faq-info">
                          Міжуніверситетьский зв`язок
                      </div>
                      <p>Скоро стартує програма обміну студентів "Плацкарт". Стеж за новинами на сайті та телеграм каналі, щоб бути першим у потязі!</p>
                      <p style="border-bottom: 2px solid #22356D; margin-top:20px;"></p>
          </div>


          <div class="main-section-faq-info">
              <span class = "anchor" id='SOS'></span>
            <div class ="h-faq-info">
                          HELP
            </div>
                        <p>Якщо у тебе й досі залишились питання чи ти маєш доповнення до іфнормації щодо СК чи діяльності ОСС - сміливо пиши нам або шукай у коридораг альми.</p>
                        <p style="border-bottom: 0px solid #22356D; margin-top:30px;"></p>

        </div>
    </div>
</div>

{% endblock content %}

{% block script %}
    <script src="{% static 'skSite/js/faq_info.js' %}"></script>
    <script src="{% static 'skSite/js/index.js' %}"></script>

{% endblock %}