<footer class="footer">
  <div class="container container--footer">
    <ul class="socials__list">
      <li class="socials__item">
        <a href="https://www.facebook.com/StudNaUKMA/" class="socials__link">
          <i class="fab fa-facebook-square socials__icon"></i>
        </a>
      </li>
      <li class="socials__item">
        <a href="https://www.instagram.com/sk_naukma/" class="socials__link">
            <i class="fab fa-instagram socials__icon"></i>
        </a>
      </li>
      <li class="socials__item">
        <a href="https://t.me/StudNaUKMA" class="socials__link">
            <i class="fab fa-telegram-plane socials__icon"></i>
        </a>
      </li>
      <!----
      <li class="socials__item">
          <a href="" class="socials__link">
              <i class="fas fa-envelope"></i>
          </a>
      </li>-->
    </ul>
    <h3 class="footer__title">#СК_працює</h3>
  </div>
</footer>