{% load static %}
<header class="header" id="header">
    <link rel="stylesheet" type="text/css" href="{% static 'skSite/scss/header.css' %}">
    <nav class="navbar">
        <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
        </span>
        <a href = "{% url 'index' %}">
            <img src="{% static 'skSite/img/group_images/sk.png' %}" alt="" class="header__img" align="left">
        </a>
        <ul class="main-nav" id="js-menu">
            <li>
                <a href="{% url 'index' %}" class="nav__link">
                    Головна
                </a>
            </li>
            <li>
                <a href="{% url 'faq-info' %}" class="nav__link">
                    Питання
                </a>
            </li>
            <li>
                <a href="{% url 'orgs' %}" class="nav__link">
                    Організації
                </a>
            </li>
            <li>
                <a href="{% url 'docs' %}" class="nav__link">
                    Документи
                </a>
            </li>
            <li>
                <a href="{% url 'all-news' %}" class="nav__link">
                    Новини
                </a>
            </li>
            <li>
                 <a href="{% url 'index' %}#ContactUSPage" class="nav__link">
                    Звернутися до СК
                </a>
            </li>
        </ul>
    </nav>
    <script>
        let mainNav = document.getElementById('js-menu');
        let navBarToggle = document.getElementById('js-navbar-toggle');
        navBarToggle.addEventListener('click', function () {
          mainNav.classList.toggle('active');
        });
    </script>
</header>