{% extends 'skSite/base.html' %}
{% load static %}

{% block title %}
  Main page
{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'skSite/scss/news_index.scss' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'skSite/scss/contactForm.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'skSite/scss/slider.css' %}">

    <div class="slider" style="width: 100%;">
        <div class="slider__wrapper">
            {%  for slide in slides %}
            <div class="slider__item" style="width: 100%; max-height: 300px;">
                <div style="max-height: 300px;">
                    <img src = "{{ slide.file.url }}" style="width: 100%">
                    <span class="slider__title">{{ slide.slider_text }}</span>
                </div>
             </div>
            {%  endfor %}
        </div>
        <a class="slider__control slider__control_left" href="#" role="button"></a>
        <a class="slider__control slider__control_right slider__control_show" href="#" role="button"></a>
    </div>

    <section class="news">
        <div class="container">
            <h1 class="latest_news_title">Останні новини</h1>
            <div class="cards" style="margin: auto;">
                {% for new in  news %}
                    <div class="card_container" style=" max-width:320px; min-width: 320px; max-height: 380px; margin-bottom: 20px;margin-left: 10px; margin-right: 10px;">
                        <div class="card"  style=" max-width: 295px; min-width: 295px; width: 100%;">
                            <img  style = "max-width: 295px;min-height: 200px;min-width:295px; max-height: 200px;" src="{{ new.image.url }}">
                            <div class="card_title" style="text-overflow: ellipsis;word-wrap: break-word;white-space: nowrap; font-size: 16px; margin: 2px">
                                  <p class="title_details" style="
                                      width: 100%;
                                      text-align: justify-all;
                                      margin: 0;
                                      overflow: hidden;font-weight: 700;
                                        color: #22356d;">
                                      <a href = "{% url 'post-detail' new.id %}">{{ new.post_head }}</a></p>

                            </div>

                            <div class="card_content" style = "text-overflow: ellipsis; width: 100%; margin: 5px; min-width: 295px;">
                                <p id="t1" class="post_details">
                                    <small>{{ new.date_posted }}</small>
                                    {{ new.post_text }}
                                    <br>
                                    <small>{{ new.author }}</small>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <h2 class="all_news_button" style="font-size: 32px;color: #22356d;margin-top: 15px;margin-bottom: 15px;"><a href="{% url 'all-news' %}">Усі новини</a></h2>
        </div>
    </section>


    {% include 'skSite/Faq.html' %}
    {% include 'skSite/documentsAndOrganizations.scss.html' %}

    <section class="ContactUS" id = "ContactUSPage">
        <div class = "container--form">
            <div class = centerInfo id = "infoContactBlock">
                <h2 class="title">Звернись до СК</h2>
            </div>

            <div class = "iniside--form">
                <div class="contactInfo" id = "infoContactBlock">
                        <div class="AdressAll">
                            <div class="infoHeader">
                                 Адреса
                            </div>

                            <div class="infoFooter">
                                4 корпус, кабінет 104
                            </div>
                        </div>

                        <div class="PhoneAll">
                            <div class="infoHeader">
                                 Робочий номер телефону
                            </div>

                            <div class="infoFooter">
                                +38097-393-98-92<br>
                                (Каріна Плахотнюк, голова СК)
                            </div>
                        </div>

                        <div class="MailAll">
                            <div class="infoHeader">
                                 Пошта Студентської колегії
                            </div>

                            <div class="infoFooter">
                                sknaukma@ukma.edu.ua
                            </div>
                        </div>

                </div>

                <div class ="contactForm" id = "infoContactBlock" >

                    <form class="contactUs__form" action="" method="POST">
                        {% csrf_token %}
                        <label>
                                <span class = "header_name_thurname">Ім'я та прізвище<font color="red"></font></span>
                            <br>
                            <input type="name" name = "name" class = "name" value size="38" aria-required="true" aria-invalid="false" placeholder = "Григорій Сковорода">

                            <br>
                        </label>
                        <label>
                            <br>
                            <span class = "header_mail">Електронна пошта<font color="red"></font></span>
                            <br>
                            <input type = "mail" name = "email" class = "email" value size="38" aria-required="true" aria-invalid="false" placeholder="name.lastname@ukma.edu.ua">
                            <br>

                        </label>

                        <label>
                                <br>
                                <span class = "header_telegram">Телеграм</span>
                                <br>
                                <input type = "telegram" name = "tg" class = "tg" value size="38" aria-required="true" aria-invalid="false" placeholder="@KMA1615">
                                <br>
                            </label>
                        <label>
                                <br>
                                <span class = "header_message">Повідомлення </span>
                            <br>
                            <textarea name="message"  class="message" cols = "50" rows = "10" class = "textarea" aria-invalid="false"  placeholder="Було б дуже круто зробити..."></textarea>
                            <br>

                        </label>

                        <div class = "status" style="margin-left: 10px; margin-right: 10px; max-width: 300px;"></div>

                        <div class= "buttonClass-contact">
                            <button type = "submit" class = "button_form_contact">Надіслати</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block script %}
    <script src="{% static 'skSite/js/slider.js' %}"></script>
     <script src="{% static 'skSite/js/index.js' %}"></script>
    <script src="{% static 'skSite/js/news_index.js' %}"></script>
    <script src = "https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <script>
    console.log('Примати без фільтра');
$(document).ready(function() {
        $('.button_form_contact').click(function (event){
            var name = $('.name').val();
            var email = $('.email').val();
            var tg = $('.tg').val();
            var message = $('.message').val();
            var statusElm = $('.status');
            statusElm.empty();
            var correct = true;

            if(email.length < 5 || !email.includes('@') || !email.includes('.')){
                event.preventDefault();
                statusElm.append('<div>Недійсна пошта</div>');
                correct = false;
            }if(name.length < 6){
                event.preventDefault();
                statusElm.append("<div>Ім'я має містити мінімум 6 символів</div>");
                correct = false;
            }if(message.length < 20) {
                event.preventDefault();
                statusElm.append('<div>Повідомлення має містити мінімум 20 символів</div>');
                correct = false;
            }if (correct){
                window.alert("Повідомлення булл надіслано")
            }
            })
        })
    </script>


{% endblock %}