{% extends 'skSite/base.html' %}
{% load static %}
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% block content %}

    <div class="info_logo">
            <h1>Органи студентського самоврядування в НаУКМА</h1>
        </div>

    <link rel="stylesheet" type="text/css" href="{% static 'skSite/scss/orgs.scss' %}">


    <div class="row_of_logos">

        <div class="logo_samvryad"><a href = "https://t.me/studentconferencekma"><img src="{% static 'skSite/img/group_images/ks.png' %}" class="brands"></a></div>
        <div class="logo_samvryad"><a href = "https://t.me/StudNaUKMA"><img src="{% static 'skSite/img/group_images/sk.png' %}" class="brands"></a></div>
        <div class="logo_samvryad"><a href = ""><img src="{% static 'skSite/img/group_images/rg.png' %}" class="brands"></a></div>
        <div class="logo_samvryad"><a href = "https://t.me/svk_ukma_news"><img src="{% static 'skSite/img/group_images/svk.png' %}" class="brands"></a></div>
        <div class="logo_samvryad"><a href = ""><img src="{% static 'skSite/img/group_images/starostat.png' %}" class="brands"></a></div>
        <div class="logo_samvryad"><a href = "https://www.facebook.com/svr.ukma.edu"><img src="{% static 'skSite/img/group_images/svr.jpg' %}" class="brands"></a></div>
    </div>


    <div class="info_logo">
        <h1>Студентські організації та студентські ініціативні групи</h1>
    </div>


    <div class="row_of_logos">
        <div class="logo_org"><a href = "https://t.me/kma_politology"><img src="{% static 'skSite/img/group_images/asn.png'%}" class="brands"></a></div>
        <div class="logo_org"><a href = "https://t.me/sb_kma"><img src="{% static 'skSite/img/group_images/sb.png'%}" class="brands"></a></div>
        <div class="logo_org"><a href = "https://t.me/buddynaukma"><img src="{% static 'skSite/img/group_images/buddy.png'%}" class="brands"></a></div>
        <div class="logo_org"><a href = "https://www.facebook.com/mohyliankadance/"><img src="{% static 'skSite/img/group_images/dance.png'%}" class="brands"></a></div>
        <div class="logo_org"><a href = "https://t.me/EnactusNaUKMA"><img src="{% static 'skSite/img/group_images/enactus.png'%}" class="brands"></a></div>
        <div class="logo_org"><a href = "https://t.me/KMAdebate"><img src="{% static 'skSite/img/group_images/debate club.png'%}" class="brands"></a></div>
        <div class="logo_org"><a href = "https://t.me/KMAgeeklab"><img src="{% static 'skSite/img/group_images/geek.png'%}" class="brands"></a></div>
        <div class="logo_org"><a href = "https://www.facebook.com/kma.humanities/"><img src="{% static 'skSite/img/group_images/fgn.png'%}" class="brands"></a></div>
        <div class="logo_org"><a href = "https://t.me/kmalumnihh"><img src="{% static 'skSite/img/group_images/HH KMAlumni.png'%}" class="brands"></a></div>
        <div class="logo_org"><a href = "https://t.me/fido_naukma"><img src="{% static 'skSite/img/group_images/fido.png'%}" class="brands"></a></div>
        <div class="logo_org"><a href = "https://t.me/KinoklubKMA"><img src="{% static 'skSite/img/group_images/kinoklub.png'%}" class="brands"></a></div>
        <div class="logo_org"><a href = "https://t.me/radio_kvit"><img src="{% static 'skSite/img/group_images/kvit.png'%}" class="brands"></a></div>
        <div class="logo_org"><a href = ""><img src="{% static 'skSite/img/group_images/kma is.png'%}" class="brands"></a></div>
        <div class=" logo_org"><a href = "https://www.facebook.com/kyt.space/"><img src="{% static 'skSite/img/group_images/kyt.png'%}" class="brands"></a></div>
        <div class=" logo_org"><a href = "https://www.facebook.com/lumenkma/"><img src="{% static 'skSite/img/group_images/lumen.png'%}" class="brands"></a></div>
        <div class=" logo_org"><a href = ""><img src="{% static 'skSite/img/group_images/mootcourt.png'%}" class="brands"></a></div>
        <div class=" logo_org"><a href = "https://www.facebook.com/scholaris2015/"><img src="{% static 'skSite/img/group_images/scholaris.png'%}" class="brands"></a></div>
        <div class=" logo_org"><a href = "https://www.facebook.com/kmalegalhackers/"><img src="{% static 'skSite/img/group_images/hackers.png'%}" class="brands"></a></div>
        <div class=" logo_org"><a href = "https://www.facebook.com/mykma.org/"><img src="{% static 'skSite/img/group_images/moya mohylianka.png'%}" class="brands"></a></div>
        <div class=" logo_org"><a href = ""><img src="{% static 'skSite/img/group_images/pidzemka.png'%}" class="brands"></a></div>
        <div class=" logo_org"><a href = ""><img src="{% static 'skSite/img/group_images/spilnosvita.png'%}" class="brands"></a></div>
        <div class=" logo_org"><a href = "https://www.facebook.com/PotluckUKMA/"><img src="{% static 'skSite/img/group_images/potluck.png'%}" class="brands"></a></div>
        <div class=" logo_org"><a href = "https://www.facebook.com/sbtnaukma/"><img src="{% static 'skSite/img/group_images/sbt.png'%}" class="brands"></a></div>
        <div class=" logo_org"><a href = "https://www.facebook.com/groups/philosophyNG"><img src="{% static 'skSite/img/group_images/philosophy.png'%}" class="brands"></a></div>
        <div class=" logo_org"><a href = "https://www.facebook.com/pg/TheOrientalStudiesCircle/about/?ref=page_internal"><img src="{% static 'skSite/img/group_images/shodoznavchyi hurtok.png'%}" class="brands"></a></div>
        <div class=" logo_org"><a href = "https://www.facebook.com/bkbz.spas"><img src="{% static 'skSite/img/group_images/spas.png'%}" class="brands"></a></div>
        <div class=" logo_org"><a href = ""><img src="{% static 'skSite/img/group_images/sskma1.png'%}" class="brands"></a></div>
        <div class=" logo_org"><a href = "https://www.facebook.com/STNNaUKMA/"><img src="{% static 'skSite/img/group_images/stn.png'%}" class="brands"></a></div>
        <div class=" logo_org"><a href = "https://www.facebook.com/turklnaukma/"><img src="{% static 'skSite/img/group_images/strim.png'%}" class="brands"></a></div>
        <div class=" logo_org"><a href = "https://t.me/ta_mohylyanka"><img src="{% static 'skSite/img/group_images/ta.png'%}" class="brands"></a></div>
        <div class=" logo_org"><a href = "https://t.me/ecoclubnaukma"><img src="{% static 'skSite/img/group_images/ekokhvylia.png'%}" class="brands"></a></div>

        <div class=" logo_org"><a href = "https://t.me/ewb_naukma"><img src="{% static 'skSite/img/group_images/eastwest.png'%}" class="brands"></a></div>
        <div class=" logo_org"><a href = "https://t.me/KMAfia1615"><img src="{% static 'skSite/img/group_images/kmafia.png'%}" class="brands"></a></div>
        <div class=" logo_org"><a href = "https://t.me/mejmirvnaukma"><img src="{% static 'skSite/img/group_images/mizhsvittya.png'%}" class="brands"></a></div>
        <div class=" logo_org"><a href = "https://www.facebook.com/groups/ukrstudent "><img src="{% static 'skSite/img/group_images/ukr student.png'%}" class="brands"></a></div>

    </div>

     <div class="info_logo">
        <h1>Інформаційні канали</h1>
    </div>


    <div class="row_of_logos">
        <div class=" logo_info"><a href="https://t.me/nowkma"><img src="{% static 'skSite/img/group_images/now.png'%}" class="brands"></a></div>
        <div class=" logo_info"><a href="https://t.me/sv_ukma"><img src="{% static 'skSite/img/group_images/visnyk.png'%}" class="brands"></a></div>
        <div class=" logo_info"><a href="https://t.me/kma_today"><img src="{% static 'skSite/img/group_images/kma today.png'%}" class="brands"></a></div>
    </div>

    <div class="info_logo">
        <h1>Студентські наукові видання</h1>
    </div>

    <div class="row_of_logos">
        <div class=" logo_science"><a href = "https://t.me/theveryplace_locus"><img src="{% static 'skSite/img/group_images/locus.png' %}" class="brands"></a></div>
    </div>

    <div class="info_logo">
        <h1>Брендована продукція</h1>
    </div>

    <div class="row_of_logos">
        <div class=" logo_merch"><a href = ""><img src="{% static 'skSite/img/group_images/kma giftshop.png' %}" class="brands"></a></div>
    </div>



{% endblock content %}

{% block script %}
    <script src="{% static 'skSite/js/index.js' %}"></script>
    <script src = "https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
{% endblock %}