{% extends "skSite/base.html" %}
{% load static %}
{% block content %}
        <link rel="stylesheet" type="text/css" href="{% static 'skSite/scss/base.css' %}">

    <div class = "solo_news_post" style=" text-overflow: ellipsis; margin: 15px;">
        <img src = "{{ object.image.url }}" style = "max-width: 300px;height: auto; margin:25px auto; display: block;" align="left">
        <h1 style = "margin-top: 50px; margin-right: 25px; font-size: 32px;color: #22356d;">{{ object.post_head }}</h1>
        <br>
        <p style="padding-left: 5px; margin-right: 10px">Автор: {{ object.author }}. Дата: {{ object.date_posted }}</p>
        <br>
        <p  style="padding-left: 15px; margin-right: 10px">{{ object.post_text }}</p>
    </div>
{% endblock content %}

{% block script %}
    <script src="{% static 'skSite/js/all_news.js' %}"></script>
{% endblock %}