{% extends "skSite/base.html" %}
{% load static %}
{% block title %}
    solo New {{ object.id }}
{% endblock %}
{% block content %}

    <section class="post_solo_main" style=";">
        <div class = "container-solo-news" style="width: 100%;">
            <br>
            <div class="iimmmaasdasd" style="margin: 0 auto; width: 100%;">
                <img src = "{{ object.image.url }}" style="margin-left: auto; max-height: 400px; max-width: 650px;
                  margin-right: auto;
                  display: block; border: 1px solid #22356d; width: 100%; height: auto">
            </div>
            <div class = "solo_post_content_details" style="margin: 0 auto;">
            <h1 style="color: #22356d;font-size: 16px; padding: 5px 5px; text-align: center">

                <br>
                {{ object.post_head }}
            </h1>
            </div>

            <p style="padding: 10px 10px; text-align: center">Автор: {{ object.author }}. <br> Дата: {{ object.date_posted }}</p>
            <p style="padding: 20px 20px; overflow: hidden;">{{ object.post_short_body }}</p>
            <p style="padding: 20px 20px; overflow: hidden;">{{ object.post_text | safe | linebreaksbr }}</p>

        </div>
    </section>

{% endblock content %}

{% block script %}
      <script src="{% static 'skSite/js/index.js' %}"></script>
    <script src = "https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
{% endblock %}