{% extends "skSite/base.html" %}
{% load static %}
{% block title %}
    solo New {{ object.id }}
{% endblock %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% block content %}
    <section class="post_detail_section">
        <div class = "solo_news_post" style=" text-overflow: ellipsis; margin: 25px 25px;">

            <img src = "{{ object.image.url }}" style = "max-width: 100%; max-height: 100%;  float: left; vertical-align: top; margin: 7px 7px 7px 7px;">
                <h1 style = "margin-top: 50px; margin-right: 25px; font-size: 32px;color: #22356d;">{{ object.post_head }}</h1>
                <br>
                <p style="padding-left: 5px; margin-right: 10px">Автор: {{ object.author }}. Дата: {{ object.date_posted }}</p>
                <br>
                <p  style="padding-left: 15px; margin-right: 10px">{{ object.post_text }}</p>

        </div>
    </section>
{% endblock content %}

{% block script %}
    <script src="{% static 'skSite/js/all_news.js' %}"></script>
    <script src = "https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
{% endblock %}